@keyframes slideLeftRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
}

.animate-slide-lr {
  animation: slideLeftRight 6s ease-in-out infinite;
}
.banner-text {
  font-size: 1.25rem; /* text-lg */
  line-height: 1.75rem;
  margin-bottom: 2rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: #E2E2E2;
  font-family: TrixiPro-Regular;
  animation: typingFade 6s steps(40, end) infinite;
}

@keyframes typingFade {
  0%   { width: 0ch; opacity: 1; }
  40%  { width: 27ch; opacity: 1; } /* gõ đủ chữ */
  70%  { width: 27ch; opacity: 1; } /* giữ chữ lại */
  71%  { width: 27ch; opacity: 0; } /* biến mất 1 phát */
  100% { width: 0ch; opacity: 0; }
}


.hero-text {
  font-family: 'Anton', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #f9b233;
}
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.2);
  }
}

.float1 {
  animation: floatUpDown 3s ease-in-out infinite;
  width: 80px;
  position: absolute;
  bottom: 120px;   
  left: 30px;
  z-index: 20;  
}

.float2 {
  animation: floatUpDown 4s ease-in-out infinite;
  position: absolute;
  bottom: 0; 
  right: 60px;
  z-index: 20;
}

.float3 {
  position: absolute;
  bottom: 0;
  width: 350px;
  right: 450px;
  z-index: 20;

}

.float4 {
   position: absolute;
  top: 0;
  width: 300px;
  z-index: 1;

}


.float6 {
  position: absolute;
  top: 0;
  width: 300px;
  left: 600px;
  z-index: 0;
}

.float7 {
   position: absolute;
  bottom: 20px;
  width: 380px;
  left: 0;
  z-index: 0;
}
.float8 {
  position: absolute;
  top: 0;
  left: 300px;
  width: 250px;
  z-index: 0;

  animation: floatRight 2s ease-in-out infinite alternate;
}

@keyframes floatRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(25px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
}

